EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
EXPO_PUBLIC_SUPABASE_URL=https://ndmekncybayacusocbrp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=replace_me
EXPO_PUBLIC_CLERK_GOOGLE_WEB_CLIENT_ID=replace_me
EXPO_PUBLIC_CLERK_GOOGLE_IOS_CLIENT_ID=replace_me
EXPO_PUBLIC_CLERK_GOOGLE_ANDROID_CLIENT_ID=replace_me
EXPO_PUBLIC_CLERK_GOOGLE_IOS_URL_SCHEME=replace_me_if_needed
